.form{
    width: 80%;
    position: relative;
    height: 50px;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 100%;
    color:#595f6e;
    padding-top: 20px;
    border:none;
    outline: none;

}
div.form-group{
    display: block;
    margin: auto;
}

label.btn.btn-outline-primary.btnlieu{
    width: 250px;
    margin: 20px;
    padding: 10px;
    border: solid 2px;
}

.btnvalid,.btnannul{
    width: 250px;
    padding: 20px;
}

.formInscription,.commandeInfo,.reunion{
    padding:20px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    border-radius: 6px;
    margin: 10px 0 40px 0;
    background: #f7f7f9;
    display: block;
}
.btn.check{
    width: 250px;
}
#inputHote{
    width: 250px;
}
.formProduit{
    padding:20px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    border-radius: 6px;
    margin: 10px;
}
.form-check-label{
    margin-bottom: 10px;
}

input.call-back-form-one{
    display: block;
    background-color: #FFFFFF;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: solid 2px #136efd;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
}

label{
    color: black;
    font-size: 17px;
}

.form label {
    position:absolute;
    bottom: -8px;
    left:0%;
    width:100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.pj{
    width: 400px;
    padding: 10px;
    font-size: 17px;
    color: black;
}
.autreInput{
    width: 200px;
}

.form label:after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #640F24;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name{
    transform: translateY(-110%);
    font-size: 14px;
    color: #640F24;
}

.form input:focus .label-name::after, .form input:valid +  .label-name::after{
    transform: translateX(0%);
}
input#valide.theme-button-one{
    background-color: #246874;
    border-radius: 5px;
    width: 200px;
    text-align: center;

}
.bouton-accueil{
    margin:20px
}
button.theme-button-two{
    border-radius: 5px;
    width: 200px;
    text-align: center;
    height: 52px;
    padding: 0 15px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 52px;
}
#case_1, #case_2, #case_3, #case_4{
    margin-top: -18px;
}

#case_info1, #case_info2, #case_info3, #case_info4{
    margin-top: -27px;
}
#case_reunion1,#case_reunion2 {
    margin-top: -27px;
    margin-left: -150px;
}

ul#myTab.nav.nav-tabs{
    margin-left: 15px;
    margin-right: 15px;
}

a#fin-tab,a#fin2-tab,a#fin3-tab,a#fin4-tab,a#fin5-tab{
    width: 200px;
    padding: 10px;
    font-weight: bold;
}

label.btn.btn-outline-primary.finExpress{
    display: block;
    width: 200px;
    margin: auto;
}
