.form{
    width: 80%;
    position: relative;
    height: 50px;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 100%;
    color:#595f6e;
    padding-top: 20px;
    border:none;
    outline: none;
}

input.call-back-form-one{
    display: block;
    background-color: #FFFFFF;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: solid 1px white;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);

}

label{
    color: black;
    font-size: 17px;
}
.form label {
    position:absolute;
    bottom: -8px;
    left:0%;
    width:100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.pj{
    width: 400px;
    padding: 10px;
    font-size: 17px;
    color: black;
}

.form label:after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #640F24;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.formInscription{
    padding:30px;
    margin: 0 auto;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    background: #F8F8F8;
    border-radius: 6px;
}

.content-name{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name{
    transform: translateY(-110%);
    font-size: 14px;
    color: #640F24;
}

.form input:focus .label-name::after, .form input:valid +  .label-name::after{
    transform: translateX(0%);
}
input#valide.theme-button-one{
    background-color: #246874;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}
button.theme-button-one{
    background-color: red;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}