:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron.text-center{
  background-color: transparent;
}
.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: transparent;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 400;
  color: #FFFFFF;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: transparent;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

#page {
  min-height: 100%;
  background-color: #e9ecef;
  position: relative;
  background: url(../img/acceuil-admin.jpg);
}

#bloc-principal {
  padding-bottom: 100px;

}

#footer {
  width: 100%;
	position: absolute;
	bottom: 0;
}
.bottom-footer{
  background: #FFFFFF;
  color: #111111;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

a.lienSezny{
  color: #111111;
}
.alert{
    border-radius: 0;
    font-weight: bold;
    text-align: center;
}

.jumbotron-heading{
  margin:3%;
}
.afficheInfos{
  min-width: 1285px;
}

.py-5{
  display: block;
  background-color: #FFFFFF;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 1300px;
  margin: auto;
  padding: 2px;
  border-radius: 6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
}

.bouton-accueil{
  border-radius: 20px;
  height: 52px;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 52px;

}

.addCom{
  width: 400px;
  margin: auto;
  background-color: #6d6d6d;
  border: solid 1px white;
}
.com{
  width: 300px;
  margin: auto;
  background-color: #494949;
  border: solid 1px white;
}

.clientspro{
  width: 250px;
  margin: auto;
  background-color: #252525;
  border: solid 1px white;
}

.clients{
  width: 200px;
  margin: auto;
  background-color: #252525;
  border: solid 1px white;
}


.profil{
  width: 150px;
  margin: auto;
  background-color:#111111;
  border: solid 1px white;

}
.retour{
  color: #FFFFFF;
  background-color: #0d7bff;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  line-height: 50px;
}
.retour:hover{
  color: #FFFFFF;
}

.addAdmin{
  border-radius: 5px;
  width: 100px;
  text-align: center;
  height: 52px;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin-top: 50px;
}
div.form-group{
  padding: 5px;
}